html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smothing: grayscale;
}

img {
  display: block;
}

.title-1 {
  font-weight: 700;
  font-size: 72px;
  line-height: normal;
  font-style: normal;
  color: var(--text-color);

  &--decor {
    position: relative;
  }

  &--decor::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 268px;
    height: 24px;
    z-index: -1;
    background-image: url("./../../img/discover/underline.svg");
  }
}

.text {
  font-weight: 450;
  font-size: 18px;
  line-height: 150%;
  color: var(--text-muted);

  p + p {
    margin-top: 1em;
  }
}

.title-4 {
  color: var(--text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;

  &.muted{
	color: #9e9e9e;
  }
}

.muted {
  color: var(--text-muted);
}
