.footer {
  padding: 80px 0;
  background-color: #181818;
  color: #fff;

  a {
    color: #fff;
  }

  @include mediaMobile {
    padding: 40px 0;
  }
}

.footer__row {
  display: grid;
  gap: 128px;
  grid-template-columns: 1fr 1fr;

  @include mediaMobile {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 90px;
  }
}
.footer__copyright {
  max-width: 300px;
}

.footer__logo {
  margin-bottom: 24px;
}

.footer__nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  column-gap: 40px;

  @include mediaMobile {
    column-gap: 100px;
  }

  @include mediaMobileS {
    column-gap: 40px;
  }
}
