.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  position: sticky;
  top: 0;
}

.nav__logo {
  flex-shrink: 0;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;

  a {
    color: #181818;

    transition: all 0.1s ease-in;

    &:hover {
      color: #35aff4;
    }
  }

  @include mediaMobile {
    display: none;
  }
}
.nav__btns {
  display: flex;
  gap: 12px;

  @include mediaMobile {
    display: none;
  }
}

.nav__icon {
  display: none;

  @include mediaMobile {
    display: block;
  }
}
