.partners {
  padding: 60px 0;
}
.partners__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.partners__title {
  color: var(--text-muted);
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
}
.partners__content {
    display: flex;
    align-items: center;    
    gap: 32px;
}
