.testimonials {
  @include mediaTablet {
    padding-bottom: 30px;
  }
}

.testimonials__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  overflow: hidden;
  margin: 0 -10px;

  @include mediaTablet {
    display: flex;
    flex-direction: column;
  }
}
// .testimonials__col {
//   display: grid;
//   gap: 32px;

//   animation: slideUP 20s linear infinite;
// }

.testimonials__swiper {
  height: 900px;

  @include mediaTablet {
    height: auto;
  }

  .swiper-slide {
    padding: 0 10px;
    height: 325px !important;

    @include mediaTablet {
      height: auto !important;
    }
  }
}

@keyframes slideUP {
  0% {
    transform: translateY(0%);
  }

  95% {
    transform: translateY(-50%);
    opacity: 1;
    filter: blur(0px);
  }

  97% {
    transform: translateY(-50%);
    opacity: 0;
    filter: blur(10px);
  }

  98% {
    transform: translateY(0%);
    opacity: 0;
    filter: blur(10px);
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
    filter: blur(0px);
  }
}

.smooth-transition {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
